PB_URL=https://pocketbase-ls800cw4g4gok0kko8kc4004.yza.yazero.io
PUBLIC_PB_URL=https://pocketbase-ls800cw4g4gok0kko8kc4004.yza.yazero.io
PUBLIC_BACKEND_URL=https://jo4gokk8s40c4gg848wow4ks.yza.yazero.io/