@import 'tailwindcss';
@import '../lib/styles/theme.css';

@layer base {
	* {
		@apply border-neutral-700;
	}
	
	html {
		scroll-behavior: smooth;
	}
	
	body {
		@apply bg-neutral-900 text-white antialiased;
		font-family: var(--font-sans);
	}
	
	code,
	pre,
	kbd,
	samp {
		font-family: var(--font-mono);
	}
}
